<!DOCTYPE html>
<html>
	<head>
		<title>Mattermost Hangout Plugin</title>
		<link rel="icon" type="image/png" href="./icon.png" />
		<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" />
		<link rel="stylesheet" type="text/css" href="/css/style.css" />
		</style>
	</head>
	<body>
		<aside>
			<img src="./icon.png" height="256" width="256">
		</aside>
		<main>
			{{{body}}}
		</main>
	</body>
</html>
