<h1>Welcome to the Mattermost Hangout Plugin!</h1>
<p>Press <a href="/auth">here</a> to link with your Google Account.</p>
<p>If you need help check out the Instructions on my GitHub Page <a href="/github">here</a>!</p>
<br>
<p>Check your Integration <a href="/check">here</a>.</p>