<!DOCTYPE html>
<html>
	<head>
		<title>Mattermost Hangout Plugin</title>
		<link rel="icon" type="image/png" href="/icon.png">
		<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
		<style>
			html, body {
				margin: 0;
				padding: 0;
			}
			
			body {
				font-family: 'Montserrat', sans-serif;
			}
			
			h1 {
				font-size: 2em;
			}
			p, a {
				font-size: 1em;
				margin-bottom: -0.8em;
			}
			a {
				color: blue;
			}
			
			main {
				margin-left: 20%;
			}
			
			aside {
				margin-top: 4em;
				margin-bottom: 4em;
			}
			aside, img {
				display: block;
				margin-left: auto;
				margin-right: auto;
			}
		</style>
	</head>
	<body>
		<aside>
			<img src="/icon.png" height="256" width="256">
		</aside>
		<main>
			<h1>Congratulation!</h1>
			<p>You successfully linked your Google Account with the Mattermost Hangout Plugin.</p>
		</main>
	</body>
</html>
